body,
#container,
.beetle {
  margin: 0 auto;
}

#container {
  height: 400px;
  width: 400px; /* The sum of width+padding must be 600px to match the screenshot dimensions. */
  padding: 100px;
  background: #222;
}

.beetle {
  background: #eee;
  border-radius: 50%;
  height: 400px;
  width: 400px;
}
